.manage-schedule-title {
    text-align: center;
}

.picked-date {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    .button-time {
        background-color: #6955c6;
        border: none;
        outline: none;
        color: #fff;
        padding: 8px;
        border-radius: 7px;

        &.active {
            background-color: rgb(31, 7, 138) !important;
        }
    }
}

.btn-primary {
    margin-top: 30px;
    width: 250px  !important;
    height: 30px  !important;
}