.form-row {
    display: flex;
}

.upload-img {
    border: 2px dotted rgb(0, 170, 255);
    height: 35px;
    position: relative;

    .preview-img {
        position: absolute;
        bottom: -155px;
        left: -2px;
        right: -2px;
        height: 150px;
        cursor: pointer;
    }
    
    .label-upload {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        line-height: normal;
        width: 100%;
        height: 100%;
        i {
            font-size: 18px;
            color: rgb(0, 170, 255);
        }

    }
    &:hover {
        border-color: rgb(51, 66, 236);
    }
}
