.section-medical-facility {
    padding-bottom: 60px;
    .medical-facility-content {
        margin: 0 67px;

        .medical-facility-header {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;

            h3 {
                margin: 0;
            }

            button {
                width: 90.82px;
                height: 36.5px;
                font-size: 11px;
                border: 0;
                outline: 0; 
                background: #ebebeb;
                text-transform: uppercase;
                display: inline-block;
                padding: 10px 15px;
                color: #282e41;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }

        .medical-facility-body {
            .slick-img {
                text-align: center;
                .image-content {
                    width: 278px;
                    height: 150px;
                    object-fit: cover;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &:hover .medical-facility-title{
                    color: #45c3d2;
                }
            }
        }
        
    }
}

.slick-prev {
    border: 2px solid rgb(215, 215, 215) !important;
    left: -10px !important;
    z-index: 999 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}

.slick-prev::before {
    color: gray !important;
}

.slick-next {
    border: 2px solid rgb(215, 215, 215) !important;
    z-index: 999 !important;
    right: -10px !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}

.slick-next::before {
    color: gray !important;
}

.slick-disabled {
    display: none !important;
}